<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--<authentication mode="Windows"/>-->
      <!--<authentication mode="Windows"/>-->
      <!--<identity impersonate="true"/>-->
      <!--<identity impersonate="true" userName="CAMPUS\s00009509" password="412598"/>-->
      <!--<authorization>
        <deny users="?"/>
      </authorization>
      <identity impersonate="false"/>-->
    </system.web>

</configuration>
